
.signup-page-bg {
    /* background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-image: url(https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    opacity: 0.85;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 91.5vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.signup-border{
    margin-top: 3.5rem;
    border: 1px solid black;
    box-shadow: 0 0 15px rgb(126, 160, 88),0 0 15px rgb(248, 141, 141),0 0 10px rgb(106, 86, 219);
    padding: 20px;
    padding-left: 45px;
}
